      <div class="row panel comment" id=<%= "#{comment.id}" %> >
        <div class="small-12 columns">
         <ul class="comment-grid-spacing small-block-grid-2 large-block-grid-2">
          <li class="comment-score-grid" id=<%= "score-grid-comment-#{comment.id}" %>>
            <% @votable = comment %>
            
            <%= render 'votes/comment_voting_grid' %>
          </li>
          <li class="comment-description">
            <div class="secondary label author small-3 columns" >
              <%= link_to "#{comment.user.name}", user_path(comment.user_id) %>
            </div>
            <div class = "row">
              <div class= "small-12 columns ">
                <div class="comment_body"  >
                  <p><%= h(comment.body).gsub(/\n/, '<br/>').html_safe %></p>
                </div>
                <%= render 'comments/comment_links', comment: comment %>
                <% comment.children.each do |reply_comment| %>
                  <div class = "child_comment">
                    <%= render 'comments/comment', comment: reply_comment %>  
                  </div>
                <% end %>
              </div>        
            </div>
          </li>
         </ul>
        </div>

       
      </div>


        