<%= simple_form_for(@comment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :body %>
    <%= f.hidden_field :rally_id, value: params[:rally_id] %>
    <%= f.hidden_field :parent_id, value: params[:parent_id] %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "save" %>
  </div>
<% end %>
