<% provide(:title, "All members of congress") %>
<h1>All members of congress</h1>

<ul>
  <% @congress_members.each do |member| %>
  <li>
    <%= link_to  member.full_name, member %>, <%= member.state %> <%= member.type %>
    <% if member.representative? %>
      of the <%= member.district %> district
    <% end %>
    | <%= member.twitter_handle %>
    <% if current_user && current_user.admin? %>
      <%= link_to 'edit', edit_congress_member_path(member) %>
      <%= link_to 'delete', congress_member_path(member), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </li>
  <% end %>
</ul>

<br>

<%= link_to 'New Congress Member', new_congress_member_path %>
