<p id="notice"><%= notice %></p>

<h1>
  <%= @congress_member.name_with_title %>
</h1>


<p>
  <strong>State:</strong>
  <%= @congress_member.state %>
</p>

<p>
  <strong>District:</strong>
  <%= @congress_member.district %>
</p>

<p>
  <strong>Party:</strong>
  <%= @congress_member.party %>
</p>

<p>
  <strong>Twitter handle:</strong>
  <%= @congress_member.twitter_handle %>
</p>

<%= link_to 'Edit', edit_congress_member_path(@congress_member) %> |
<%= link_to 'Back', congress_members_path %>
