<div class="form congressional-district-form">
  <%= form_tag find_congressional_district_path, method: :get, remote: true do %>
    <%= label_tag 'address', 'Address' %>
    <%= text_field_tag "address",'', placeholder: "123 street" %>
    <%= label_tag 'city', 'City' %>
    <%= text_field_tag "city",'', placeholder: "city" %>
    <%= label_tag 'state', 'State' %>
    <%= text_field_tag "state", @user.state %>
    <%= submit_tag "Find", class: "button tiny"%>
  <% end %>
</div>


<div id="found-district-modal" class="reveal-modal" data-reveal>
  <h2>Hope this helps!</h2>
  <p class="district-modal-paragraph"></p>
  <a class="close-reveal-modal">&#215;</a>
</div>