<p id="notice"><%= notice %></p>

<p>
  <strong>Prefix:</strong>
  <%= @congress_member.prefix %>
</p>

<p>
  <strong>First name:</strong>
  <%= @congress_member.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @congress_member.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @congress_member.last_name %>
</p>

<p>
  <strong>Suffix:</strong>
  <%= @congress_member.suffix %>
</p>

<p>
  <strong>Address:</strong>
  <%= @congress_member.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @congress_member.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @congress_member.state %>
</p>

<p>
  <strong>Zip4:</strong>
  <%= @congress_member.zip4 %>
</p>

<p>
  <strong>District:</strong>
  <%= @congress_member.district %>
</p>

<p>
  <strong>Party:</strong>
  <%= @congress_member.party %>
</p>

<p>
  <strong>Twitter handle:</strong>
  <%= @congress_member.twitter_handle %>
</p>

<%= link_to 'Edit', edit_congress_member_path(@congress_member) %> |
<%= link_to 'Back', congress_members_path %>
