<% provide(:title, @user.name) %>
<h2><%= @user.name %></h2>
<% if @user.state and @user.district %>
  <p><%= @user.state %>, <%= @user.district.ordinalize %> district</p>
<% elsif @user == current_user %>
  <% if @user.state == nil and @user.district == nil %>
    <p><%= link_to("Add state and district information", user_update_state_and_district_path(user_id: @user.id, id: :update_state)) %></p>
  <% elsif @user.state == nil %>
    <p><%= link_to("Add state information", user_update_state_and_district_path(user_id: @user.id, id: :update_state)) %></p>
  <% elsif @user.district == nil %>
    <p><%= link_to("Add district information", user_update_state_and_district_path(user_id: @user.id, id: :update_district)) %></p>
  <% end %>
<% end %>

<p><b>My representative:</b> <%= @representative_name %></p>

<p><b>My senator:</b> <%= @senator_name %></p>

<p><b>Linked Twitter account:</b>

<% if @user.identity %>
   Yes
   </p>
  <%= link_to("Twitter Profile", "https://twitter.com/intent/user?user_id=#{@user.identity.uid}", class: "button small") %>
<% else %>
  No, 
  <% if @user ==  current_user %>
    <%= link_to("Link Twitter Account", user_after_signup_path(user_id: @user.id, id: :add_twitter)) %>
  <% end %>
  </p>
<% end %>

<% if current_user == @user %>
  <p><%= link_to("Edit profile", edit_user_url(@user)) %></p>
<% end %>
