<% provide(:title, @user.name) %>
<h2><%= @user.name %></h2>
<% if @user.state and @user.district %>
  <p><%= @user.state %>, <%= @user.district.ordinalize %> district</p>
<% elsif @user.state == nil and @user.district == nil %>
  <p><%= link_to("Add state and district information") %></p>
<% elsif @user.state == nil %>
  <p><%= link_to("Add state information") %></p>
<% elsif @user.district == nil %>
  <p><%= link_to("Add district information") %></p>
<% end %>

<p><b>My representative:</b> <%= @representative_name %></p>

<p><b>My senator:</b> <%= @senator_name %></p>

<% if @user.identity %>
  <p>Linked Twitter account: Yes</p>
  <%= link_to("Twitter Profile", "https://twitter.com/intent/user?user_id=#{@user.identity.uid}", class: "button small") %>
<% else %>
  <p>Linked Twitter account: No</p>
  <%= link_to("Link Twitter Account", "users/#{@user.id}/after_signup/add_twitter", class: "button small") %>
<% end %>

<% if current_user == @user %>
  <%= link_to("Edit profile", edit_user_url(@user)) %>
<% end %>
