<div class="row rally" id=<%= "rally-card-#{@rally.id}"  %>>
  <div class="small-12 columns">
    <ul class="rally-grid-spacing small-block-grid-2 large-block-grid-2">
      <li class="score-grid" id=<%= "score-grid-rally-#{@rally.id}" %>>
        <% @votable = @rally %>
        <%= render 'votes/vote_form' %>
      </li>
      <li class="rally-description">
        <h5 class="content-title"><%= link_to "#{@rally.title}", rally_path(@rally), class: "no-link-style" %></h5>
        <p class="author">Submitted by 
          <span class="author-name"><strong><%= link_to "#{@rally.user.name}", user_path(@rally.user_id) %></strong></span>
        </p>
        <div class="rally-stats">
          <ul class="inline-list">
            <li></li>
            <% comment_link_text = "comment" %>
            <% comment_count = @rally.comments.count %>
            <% if comment_count > 0 %>
              <li><%= link_to "#{pluralize(@rally.comments.count,comment_link_text)}", rally_path(@rally), class: "no-link-style" %></li>
            <% else %>
              <li><%= link_to "comment", rally_path(@rally), class: "no-link-style" %></li>
            <% end %>
            
            <% if current_user == @rally.user %>
              <li><%= link_to "edit", edit_rally_path(@rally), class: "no-link-style" %></li>
              <li><%= link_to "delete", rally_path(@rally), class: "no-link-style", method: :delete, data: { 
                confirm: "Are you sure?",
                text: "Are you sure that you want to delete this rally", 
                'sweet-alert-type' => "warning",
                'cancel-button-text' => 'Cancel',
                'confirm-button-text' => "Yes, delete it!",
                'confirm-button-color' => "#ec6c62"
                 } %>
                </li>
            <% end %>
          </ul>
        </div>
      </li>
    </ul>    
  </div>
  <hr>
</div>