<h1>Listing rallies</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Twitter template</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rallies.each do |rally| %>
      <tr>
        <td><%= rally.title %></td>
        <td><%= rally.content %></td>
        <td><%= rally.twitter_template %></td>
        <td><%= rally.user %></td>
        <td><%= link_to 'Show', rally %></td>
        <td><%= link_to 'Edit', edit_rally_path(rally) %></td>
        <td><%= link_to 'Destroy', rally, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rally', new_rally_path %>
