<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @rally.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @rally.content %>
</p>

<p>
  <strong>Twitter template:</strong>
  <%= @rally.twitter_template %>
</p>

<p>
  <strong>User:</strong>
  <%= @rally.user %>
</p>

<%= link_to 'Edit', edit_rally_path(@rally) %> |
<%= link_to 'Back', rallies_path %>
