  <% if signed_in? %>
    <% if current_user.has_voted_on?(@votable) %>
      <% if current_user.find_vote(@votable).value == 1 %>
          <%= render 'votes/upvote', clicked: true %>
          <div class="comment-score"><%= @votable.score %></div>  
          <%= render 'votes/downvote', clicked: false %>          
      <% else %>
          <%= render 'votes/upvote', clicked: false %>
          <div class="comment-score"><%= @votable.score %></div>  
          <%= render 'votes/downvote', clicked: true %>
      <% end %>
    <% else %>
        <%= render 'votes/upvote', clicked: false %>
        <div class="comment-score"><%= @votable.score %></div>  
        <%= render 'votes/downvote', clicked: false %>
    <% end %>
  <% else %>
      <div class="comment-vote-button upvote unclicked">  <%= link_to '<i class="fa fa-arrow-up small"></i>'.html_safe, signin_path %></div>
      <div class="comment-score"><%= @votable.score %></div>  
      <div class="comment-vote-button downvote unclicked">  <%= link_to '<i class="fa fa-arrow-down small"></i>'.html_safe, signin_path %></div>
  <% end %>