    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to "Democratica", root_path %></h1>
        </li>
        <!-- Mobile Menu Toggle -->
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
      </ul>
      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li><%= link_to "Home",  root_path %></li>
          <li><%= link_to "About", about_path %></li>
          <% if signed_in? %>
            <li class="has-dropdown">
              <a href="#">Account</a>
              <ul class="dropdown">
                <li><%= link_to "Profile", user_path(current_user) %></li>
                <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
              </ul>
            </li>          
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
            <li><%= link_to "Sign up", signup_path %></li>  
          <% end %>
        </ul>
      </section>
    </nav>